@font-face {
	font-family: "Hanuman";
	font-weight: 400;
	font-style: normal;
	src:local("Hanuman"),
	local("Hanuman"),
	url(../fonts/Hanuman-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Moul";
	font-weight: 400;
	font-style: normal;
	src:local("Moul"),
	local("Moul"),
	url(../fonts/Moul-Regular.ttf) format("truetype");
}
.font-moul {
	font-family: "Moul", "Roboto, san-serif";
}